.row
  .span12
    %h2.heading Track Time, Invoice and Track Payments
  .span10.offset1
    .teaser
      :plain
        <iframe width="800" height="491" src="http://www.powtoon.com/embed/eF3U9O8JmLa/" frameborder="0" allowfullscreen></iframe>
  .span4.offset5= link_to "Follow us on Twitter", "http://twitter.com/earntimeapp", :class=>"btn btn-large btn-success"
